@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

$font-heading: "DM Serif Display", serif;
$font-body: "Karla", sans-serif;

$primary-drk-violet: #2d2640;
$primary-gry-blue: #95a9c6;
$neutral-drk-gray: #2b272f;
$neutral-gray: #837d87;
$neutral-white: #fafafa;
